.wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px  1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 
  "h h"
  "n m";
}

.wrapperContent {
  background: linear-gradient(to left, rgb(64, 177, 202), white);
  grid-area: m;
}




